/*Utility Classes*/

.bg-black{
    background-color:#000;
}

.bg-green{
    background: #313d33 !important;
}

/*
MAP SECTION
*/

#section-contact{
    padding-bottom:50px;
}

.title-bold{
    font-weight: bold;
}

.stations-box{
   padding-bottom:20px;
}

.stations-box__content{
    background-color:#f3f3f3;
    color:#000;
    padding:20px;
    border-radius: 1%;
}

.stations-box__address{
    padding:10px 0;
}

.stations-address p{
    margin-bottom: 0;
}

.stations-box__links{
    /*empty*/
}

.mapdirections{
    padding:25px;
    background-color:#f3f3f3;  
}

.mapdirections__map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;    
}

.mapdirections__map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;   
}

.mapdirections__content{
    /*Empty*/
}

.mapdirections__text p{
    font-weight: bold;    
}

.mapdirections__form{
    /*Empty*/
}

/*
END MAP DIRECTIONS
*/

/*Bootstrap Overrides*/

#bso-no-padding{
    padding:0;
}

.btn-brand{
    color:#000;
    background-color: #fdd974;
    border-color: #fdd974;
}