/*Utility Classes*/

.bg-black{
    background-color:#000;
}

.bg-green{
    background: #313d33 !important;
}

/*
CONTACT SECTION
*/

#section-contact{
    padding-bottom:50px;
}

.title-bold{
    font-weight: bold;
}

.stations-box{
    background-color:#f3f3f3;
    color:#000;
    padding:20px;
    border-radius: 1%;
    margin-bottom:10px;
}

.stations-address{
    padding:10px 0;
}

.stations-address p{
    margin-bottom: 0;
}

.map-container{
    padding:25px;
    background-color:#f3f3f3;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;   
}

.get-directions{
    
}

.get-directions__text p{
    font-weight: bold;
}

.btn-brand{
    color:#000;
    background-color: #fdd974;
    border-color: #fdd974;
}

/*
END CONTACT
*/

/*Bootstrap Overrides*/

#bso-no-padding{
    padding:0;
}